{% extends 'inquizitive/base.html' %}
{% block content %}
<html> 
<head>
<title>inQuisitive</title> </head>
<body>
<h1>Add quiz questions</h1> <div>
<form id="adding_questions" method="post" action="/inquizitive/adding_questions/">{% csrf_token %}
{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
  
{% endfor %}
<input type="submit" name="submit" value="Add question" /> </form>

</div> </body>
</html>


{% endblock %}


 