{% extends 'inquizitive/base.html' %}

{% block content %}
{% load static %}
<div class="container ">
<h1>{{ quiz.quizName }}</h1>
 
 <p>Date/Time: <span id="datetime"></span></p>

 


 <form method='post' action='' >
    {% csrf_token %}

    {% for question  in questions%}

    <div class="form-group">

      <label for="question">{{ question.questionText }}</label>
    </div>
    <div class="form_check">

        <div class="form_check">
            <input class="form_check_input" type="radio" name="{{question.questionText}}" id="radio1" value="{{question.optiona}}" checked>
            <label class="form_check_label" for="gridRadios1">
                {{question.optiona}}
            </label>
        </div>
        <div class="form_check">
            <input class="form_check_input" type="radio" name="{{question.questionText}}" id="radio2" value="{{question.optionb}}">

            <label class="form_check_label" for="gridRadios2">
                {{ question.optionb }}
            </label>
        </div>
        <div class="form_check">
            <input class="form_check_input" type="radio" name="{{question.questionText}}"id="radio1" value="{{question.optionc}}">
            <label class="form_check_label" for="gridRadios1">
                {{ question.optionc }}
            </label>
        </div>
        <div class="form_check">
            <input class="form_check_input" type="radio" name="{{question.questionText}}" id="radio2" value="{{question.optiond}}">
            <label class="form_check_label" for="gridRadios2">
                {{ question.optiond }}
            </label>
        </div>
        <br>
    </div>    
    {% endfor %}
     
    <br>
   <button type="submit" class="btn btn-primary">Submit</button>

  </form>
 
 
</div>
 
 
 



<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>





{% endblock %}



