{% extends 'inquizitive/base.html' %}
{% block content %}
<!DOCTYPEhtml>
<html> 




    


<body>
<h1>Create a quiz</h1> <div>
<form id="creating_quiz" method="post" action="/inquizitive/creating_quiz/">{% csrf_token %}
{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
{% endfor %}
<input type="submit" name="submit" value="Create Quiz" /> </form>
<input type="button"  onclick = "location.href='/inquizitive/adding_questions/';" value="Add questions to quiz" />
</div> </body>
</html>
{% endblock %}



 