{% extends 'inquizitive/base.html' %}
{% block content %}
<!DOCTYPEhtml>
<html> 
<head>
<title>inQuisitive</title> </head>
<body>
<h1>Create a quiz</h1> <div>
<form id="creating_quiz" method="post" action="/inquizitive/creating_quiz/">{% csrf_token %}
{% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {{ field.help_text }}
                    {{ field }}
{% endfor %}
<input type="submit" name="submit" value="Create Quiz" /> </form>
<a href="/inquizitive/adding_questions/">Add questions to the quiz </a><br/>
</div> </body>
</html>
{% endblock %}



 