{% extends 'inquizitive/base.html' %}

{% block content %}



<h1></h1>



{% if user.is_authenticated %}
	<p>Name: {{user.first_name}} {{ user.last_name}}</p>
	<p>Username: {{user.username}}</p>
	
	<p>Email: {{user.email}}</p>

<br> <input type="button"  onclick = "location.href='/inquizitive/creating_quiz/';" value="Create a new quiz"/> <br>
 

{% endif %}
<div>
{% if quizzes %}
<br> <h2>Quizzes</h2>
<ul>

{% for quiz in quizzes %}
 
<li> 
<a href="/inquizitive/quiz/{{ quiz.slug }}/">{{ quiz.quizName }}</a> </li>

{% endfor %}
</li> 

</ul> {% else %}
<strong>There are no quizzes present.</strong> {% endif %}
</div>

 

{% endblock %}
