{% extends 'inquizitive/base.html' %}

{% block content %}

<style>
	body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #000000, #740000)
}

.col-md-6 {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 20%;
    left: 10%;
    background: #191919;

    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

</style>

<h2 class ="text-center"> Login</h2>

<div class = "col-md-6 offset-md-3"> 
	<form method ="POST">
		
		{% csrf_token %}

	  <div class="form-group">

	    <input type="text" class="form-control" placeholder="Enter Username" name = "username">

	  </div>
	  <div class="form-group">

	    <input type="password" class="form-control"  placeholder="Enter Password" name="password"> 
	  </div>
	 

	  <button type="submit" class="btn btn-secondary">Login</button>
	</form>

</div>

{% endblock %}
