{% extends 'inquizitive/base.html' %}
{% load static %}
{% block content %}
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
            <h1> We'd love to hear your opinion!</h1>
Alaa:<a href = "mailto:alaawardeh@gmail.com?subject = Feedback&body = Message">
alaawardeh@gmail.com
</a> <br> Phone: +483623831139 <br><br>
Hana:<a href = "mailto:hanaelsherbeny@gmail.com?subject = Feedback&body = Message">
hanaelsherbeny@gmail.com
</a> <br> Phone: +483623831139 <br><br>
Emily:<a href = "mailto:emilyessex@gmail.com?subject = Feedback&body = Message">
emilyessex@gmail.com
</a> <br> Phone: +483623831139 <br><br>
Mohamed:<a href = "mailto:mohamednader@gmail.com?subject = Feedback&body = Message">
mohamednader@gmail.com
</a> <br> Phone: +483623831139 <br>
{% endblock %}