{% extends 'inquizitive/base.html' %}
 
{% load static %}
 {% block content %}
<!DOCTYPEhtml>
<html>

<head>
    <style>
        .question{color: rgb(224, 224, 200); font-size: large;}
    </style>
</head>



<body> <div>

{% if quiz %}
<h2> <em>  {{ quiz.quizName }}  </em> </h2> {% if questions %}


{% for question in questions %}
<a href="{{ question.questionText }}"> 
  
<br> <div class = "question">{{ question.questionText }} </div> </a> 

    
<input type="radio" name={{ question.optiona }}  <li> {{ question.optiona }} </li>  <br>
<input type="radio" name={{ question.optiona }}  <li> {{ question.optionb }} </li>   <br>
<input type="radio" name={{ question.optiona }}   <li> {{ question.optionc }} </li>   <br>
<input type="radio" name={{ question.optiona }}   <li> {{ question.optiond }} </li>   <br>
 
 

</li> {% endfor %}

{% else %}

<div>
<strong>No question in quiz</strong> 
</div>

{% endif %}
<br> 
<input type="button"  onclick = "location.href='/inquizitive/quiz/{{ quiz.slug }}/adding_questions/';" value="Add questions to quiz" /><br/>
        {% else %}
            The specified quiz does not exist.
{% endif %}

</div> </body>
</html>
 
{% endblock %}
 
