{% extends 'inquizitive/base.html' %}
 
{% load static %}
 {% block content %}
<!DOCTYPEhtml>
<html>



<body> <div>

{% if quiz %}
<h2> <em>  {{ quiz.quizName }}  </em> </h2> {% if questions %}


{% for question in questions %}
<a href="{{ question.questionText }}">       <!-- heres where the link starts --> 
    
    <br> <h6 class = "question">{{ question.questionText }} </h6> </a>    <!-- heres where the link ends -->  
    
    <li>{{ question.optiona }} </li> 
    <li>{{ question.optionb }} </li> 
    <li>{{ question.optionc }} </li>
    <li>{{ question.optiond }} <br>

</li> {% endfor %}

{% else %}

<div>
<strong>No question in quiz</strong> 
</div>

{% endif %}
<br> 
<input type="button"  onclick = "location.href='/inquizitive/quiz/{{ quiz.slug }}/adding_questions/';" value="Add questions to quiz" /><br/>
        {% else %}
            The specified category does not exist.
{% endif %}

</div> </body>
</html>
{% endblock %}
 
