{% extends 'inquizitive/base.html' %}
 
{% block content %}
 
         <p>Date/Time: <span id="datetime"></span></p>
 
                <p  >Score: {{percent}}%</p>
                <p  >Subject: {{subject}} </p>
   <p  >Difficulty Level: {{difficulty}} </p>
 
                <h5>All the best for your next inQuizitive!</h5>
            </div>
        </div>
    </div>
 
</div>

<script>
var dt = new Date();
document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>



 
{% endblock %}
