{% extends 'inquizitive/user_base.html' %}

{% block content %}
{{block.super}}

<style>
    div.body {
        margin-left: 260px;

        }
</style>

    <div class=body id="main">

        <br> <h2>Quizzes</h2>
        {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
        <li>
            <a href="/inquizitive/quiz/{{ quiz.slug }}/">{{ quiz.quizName }}</a> </li>

        {% endfor %}
        </li>
        </ul>
        {% else %}
        <strong>You haven't created any quizzes yet!</strong> <br>
        <p> Click 'Create A Quiz' to create your first quiz.</p>

        {% endif %}

    </div>

{% endblock %}